<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="qa">
<head>
  <title>Got Question?</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'header' %>

<div id="wrap" class="container" ng-controller="AppCtrl">
  <% unless notice.nil? %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
  <% end %>

  <% unless alert.nil? %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
  <% end %>

  <div id="alerts">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert)">{{alert.msg}}</alert>
  </div>

  <%= yield %>

</div>
<!-- /.container -->

<!-- footer area -->
<footer>
  <div class="container">
    <p style="text-align: center;">NWT - Omega Team One &copy;2014</p>
  </div>
</footer>

<script src='/js/angular/lib/angular-text/textAngular.min.js'></script>
<script src='/js/angular/lib/angular-text/textAngular-sanitize.min.js'></script>
</body>
</html>
