<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="qa">
<head>
  <title>Got Question?</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'header' %>

<div class="container">
  <!-- this fucks up ng-view !!!! -->
  <% unless notice.nil? %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
  <% end %>

  <% unless alert.nil? %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
  <% end %>
  <!-- this fucks up ng-view end -->

  <%= yield %>

</div><!-- /.container -->
</body>
</html>
